<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Pots</title>
    </head>
    <body>
        <h1>Pots list:</h1>
        {% for pot in pots %}
            <table>
                <tr>
                    <th>Id</th>
                    <th>Producer</th>
                    <th>Colour</th>
                    <th>Diameter</th>
                    <th>Code</th>
                </tr>
                <tr>
                    <td>{{ pot.id }}</td>
                    <td>{{ pot.producer }}</td>
                    <td>{{ pot.colour }}</td>
                    <td>{{ pot.potDiameter }}</td>
                    <td>{{ pot.potCode }}</td>
                </tr>
            </table>
            &nbsp &nbsp
            <br/>
        {% endfor %}
    </body>
</html>
