{% extends 'base.html.twig' %}
{% set body_id = 'plant-list' %}

{% block body %}
    <body>
        <div id="new-link-delete">
            {{ "plant.delete.content" |trans }}{{ plant.id }} {{ plant.variety }} {{ plant.species }}
        </div>
        {{ form(form) }}
    </body>
{% endblock %}